<?xml version="1.0"?>
<connectionStrings>
  <add name="DMSConnectionString_SqlServer" connectionString="Data Source=.;Initial Catalog=RCHL_DB;Persist Security Info=True;User ID=sa;Password=123;Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  <add name="RCHLConnectionString_SqlServer" connectionString="Data Source=.;Initial Catalog=RCHL_DB;Persist Security Info=True;User ID=sa;Password=123;Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
</connectionStrings>