<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ImageHost" value="" />
  <add key="BusinissDataAdapterConfig" value="/Resources/Config/DataAdapterConfig/DataAdapterConfig.xml"/>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!--缓存类型WebCache，Redis -->
  <add key ="CacheType" value="WebCache"/>
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 允许重复登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- 允许用户注册 -->
  <add key="AllowUserRegister" value="false" />
  <!-- 启用即时通讯 -->
  <add key="UseMessage" value="false" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <add key="SysAccount" value="admin" />
  <add key ="baidumap_server_key" value="s1FY6ly2t8UlAiNUBpCoonkX"/>
  <add key ="baidumap_client_key" value="mlZGeZnvillkwxERLPACHH5k"/>
  <add key="baidumap_table" value="182039"/>
  <!--短信账号-->
  <add key="SMSCompId" value="794"/>
  <add key="SMSAccount" value="海博软件推广"/>
  <add key="SMSPwd" value="hbrjtg789zyq123"/>
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="wx3e4c8f84a165a142" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="XDwJUlMeqQAVI3Iu0ZpJ-5MYzBJmhuBAF9GTBqY7mnJg_j23JTidYcslyTg9SL0B" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.qssoft.cn" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="xx信息技术有限公司" />
  <!-- 系统名称 -->
  <add key="SystemName" value="后台管理系统" />
  <!-- 公司名称 -->
  <add key="SoftName" value="xx" />
  <add key="KCGLY_RoleId" value="fbf63ece-766c-45e7-bf05-c2d3ecfe8bef"/>
  <add key="Certificate_Extn" value=".GIF|.JPEG|.JPE|.JPG|.PNG|.BMP"/>
  <add key="Certificate_MaxFileLength" value="2048"/>
</appSettings>