<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DMSConnectionString_MySqlServer" connectionString="Server=localhost;database=test;user id=root;password=root;allow user variables=true;charset=utf8;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>