<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ImageHost" value="http://localhost:1368/" />
  <add key="BusinissDataAdapterConfig" value="/Resources/Config/DataAdapterConfig/DataAdapterConfig.xml"/>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!--缓存类型WebCache，Redis -->
  <add key ="CacheType" value="WebCache"/>
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 允许重复登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- 允许用户注册 -->
  <add key="AllowUserRegister" value="false" />
  <!-- 启用即时通讯 -->
  <add key="UseMessage" value="false" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <add key="APPID" value="wx27f9328dbeee17f8"/>
  <add key="MCHID" value="1336611301"/>
  <add key="KEY" value="6942067491462631192694206749soft"/>
  <add key="APPSECRET" value="ae477229a289dc59453f68f83bb889cd"/>
  <add key="NOTIFY_URL" value="/Wx/PayNotify"/>
  <add key="webSite" value="http://rcx.sxxffww.com/"/>
  <add key ="writedebug" value="1"/>
  <add key ="baidumap_server_key" value="s1FY6ly2t8UlAiNUBpCoonkX"/>
  <add key ="baidumap_client_key" value="mlZGeZnvillkwxERLPACHH5k"/>
  <add key="baidumap_table" value="182039"/>
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.qssoft.cn" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="xx信息技术有限公司" />
  <!-- 系统名称 -->
  <add key="SystemName" value="人车行汽车综合服务平台" />
  <!-- 公司名称 -->
  <add key="SoftName" value="人车行汽车服务平台" />
</appSettings>