<?xml version="1.0"?>
<connectionStrings>
  <add name="StoreSQLConnectionString" connectionString="Data Source=10.27.103.174,3389;Initial Catalog=km_store;Persist Security Info=True;User ID=kmyfzbJKL;Password=yoofa67890;Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
</connectionStrings>