<?xml version="1.0"?>
<connectionStrings>
  <add name="StoreSQLConnectionString" connectionString="Data Source=183.95.84.131;Initial Catalog=km_store;Persist Security Info=True;User ID=sa;Password=YFZBzxcvbnm,./;Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
</connectionStrings>