<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="imageHost" value="/Kuikan/Images/" />
  <add key="ApiHost" value="http://localhost:6167" />
  <add key="AppKey" value="yoofa_store_app" />
  <add key="AppSecret" value="yoofa_store_123456" />
  <add key="ImageHost" value="http://localhost:9090" />
  <add key="StockSecurity" value="5"/>
</appSettings>