<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAppSms" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.200/AppSms.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAppSms" contract="AppSmsClient.IAppSms"
                name="BasicHttpBinding_IAppSms" />
        </client>
    </system.serviceModel>
</configuration>